.signup-section-container
  form.signup-form-container(name="signup")
    
    label.signup-label
      | Nombre
    input.signup-input(type="text" name="name" ng-model="user.name" ng-pattern="/^[a-zA-Z]+$/" ng-required="true")
    span.signup-error(ng-show="signup.name.$touched && !user.name") 
      | El nombre es obligatorio
    span.signup-error(ng-show="signup.name.$touched && !signup.name.$valid") 
      | El nombre sólo puede contener letras
    
    label.signup-label
      | Apellido
    input.signup-input(type="text" name="lastName" ng-model="user.lastName" ng-pattern="/^[a-zA-Z]+$/" ng-required="true")
    span.signup-error(ng-show="signup.lastName.$touched && !user.lastName") 
      | El apellido es obligatorio
    span.signup-error(ng-show="signup.lastName.$touched && !signup.lastName.$valid") 
      | El apellido sólo puede contener letras
    
    label.signup-label
      | Email
    input.signup-input(type="email" name="email" ng-model="user.email" required)
    span.signup-error(ng-show="signup.email.$touched && !user.email") 
      | El email es obligatorio
    span.signup-error(ng-show="signup.email.$touched && !signup.email.$valid")
      | El email debe ser válido
    
    label.signup-label
      | Contraseña
    input.signup-input(type="password" name="password" ng-model="user.password" minlength="8" maxlength="52" ng-pattern="/^(?=.*[A-Za-z])(?=.*\\d)[A-Za-z\\d]+$/" ng-required="true")
    span.signup-error(ng-show="signup.password.$touched && !user.password") 
      | La contraseña es obligatoria
    span.signup-error(ng-show="signup.password.$touched && !user.password") 
      | La contraseña debe tener entre 8 y 52 caracteres, y contener al menos una letra y un número
    
    button.signup-submit(ng-disabled="signup.$invalid")
      | Registrarme