$badge-height: 120px;
$badge-width: 95px;
$book-cover-height: 365px;
$book-cover-width: 260pxx;
$book-cover-list-height: 200px;
$book-cover-list-width: 142px;
$book-container-height: 415px;
$book-container-width: 900px;
$book-detail-font-size: 20px;
$book-presentation-height: 300px;
$book-presentation-width: 198px;
$book-title-presentation-size: 16px;
$wolox-navbar-heigth: 70px;
$wolox-logo-width: 210px;
