$dashboard-search-size: 14px;
$dashboard-search-element-height: 40px;
$dashboard-search-element-width: 240px;
$dashboard-search-submit-height: 40px;
$dashboard-search-submit-width: 40px;
$book-dashboard-container-height: 220px;
$book-dashboard-image-height: 185px;
$book-dashboard-image-width: 130px;
$book-dashboard-title-size: 14px;
