$dashboard-search-size: 14px;
$dashboard-search-element-height: 40px;
$dashboard-search-element-width: 240px;
$dashboard-search-submit-height: 40px;
$dashboard-search-submit-width: 40px;
$book-dashboard-container-height: 220px;
$book-dashboard-image-height: 185px;
$book-dashboard-image-width: 130px;
$book-dashboard-title-size: 14px;
$book-section-title: 20px;
$book-section-rent: 20px;
$login-form-height: 450px;
$login-form-width: 700px;
$login-submit-height: 40px;
$login-submit-width: 175px;
$login-input-height: 35px;
$login-input-width: 540px;
$login-submit-font-size: 20px;
$signup-label-size: 12px;
$signup-form-height: 550px;
$signup-form-width: 700px;
$signup-input-height: 35px;
$signup-input-width: 540px;
$signup-submit-font-size: 20px;
$signup-submit-height: 40px;
$signup-submit-width: 175px;
