.book-section-container
  .book-container 
    img.book-image(ng-src="{{vm.book.image_url}}")
    .book-details-container
      h2.book-title {{vm.book.title}}
      span.book-author {{vm.book.author}}
      span.book-year {{vm.book.year}}
      span.book-genre {{vm.book.genre}}
      span.book-details {{vm.book.publisher}}
      button.book-rent
        | Alquilar